#place in etc/systemd/system
#adjust execstart to your mesh script location and working directory to your user, i.e. your user name in place of natak
[Unit]
Description=Start halow mesh on startup
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 3
#set up and start HaLow mesh
ExecStart=/home/natak/fullmesh2.sh
WorkingDirectory=/home/natak
Restart=on-failure

[Install]
WantedBy=multi-user.target
